.MuiDrawer-paper {
  background-color: #f5f5f5; /* Background color of the sidebar */
}

.MuiListItemIcon-root {
  color: #333; /* Icon color */
}

.MuiTypography-root {
  color: #333; /* Text color */
  font-family: "Roboto", sans-serif; /* Custom font if needed */
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.brand-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.brand-logo h6 {
  font-size: 1rem;
  color: #333;
}
